body {
  margin: 10px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

progress {
  display: block;
}

ol {
  display: grid;
  grid-template-columns: minmax(0, max-content);
  grid-gap: 15px;
}

ol li * {
  width: 100%;
}

#peopleLeft {
  font-size: 2rem;
}

.makeSandwich-section {
  margin-bottom: 1rem;
}

#sps {
  font-size: 1.5rem;
}
